<%- include('partials/header.ejs') %>
<h1>gaurav</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia consequuntur, nisi itaque perferendis corrupti voluptatibus culpa praesentium iste explicabo rerum ipsam ex voluptates magnam, dolorum cum excepturi expedita molestias vitae.</p>
<%- include('partials/footer'); %>
